[submodule "create_data/data dir from DeepLearningExamples @ b88db70/wikiextractor"]
	path = create_data/data dir from DeepLearningExamples @ b88db70/wikiextractor
	url = https://github.com/attardi/wikiextractor.git
